<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>  About Us </title>
  <!---Custom Css File!--->
  <link rel="stylesheet" href="{{url_for('static',
  filename='css/about.css')}}"
</head>
<body>

   

  <section class="about-us">
    
    <!-- <div class="icon">
        <h2 class="logo">FIND MECHANIC </h2>
     </div> -->


    <div class="about">
      <!--<img src="girl.png" class="pic">-->
      <div class="text">
        <h2>About Us</h2>
        <h5>heart disease prediction using machine learning <span>with python</span></h5>
          <p>Welcome to Heart Disease Prediction, where we strive to revolutionize healthcare through cutting-edge predictive analytics. Our mission is to empower individuals with the knowledge and tools to proactively manage their cardiovascular health and prevent the onset of heart diseas.

            <br><br>At Heart Disease Prediction, we leverage the latest advancements in machine learning and medical research to develop accurate and personalized prediction models. Our team of data scientists, healthcare professionals, and technology experts work tirelessly to ensure that our algorithms are robust, reliable, and clinically validated.
            <br>
            <!-- Why Choose Us?
            <br>
            On-the-Spot Service: No need to tow your vehicle. We come to you, wherever you are.
            <br>
            Experienced Professionals: Our team consists of trained and certified technicians with the expertise to handle various breakdown situations.
            <br>
            Convenience Redefined: We bring the workshop to your doorstep, ensuring minimal disruption to your schedule. -->
            <!-- Transparent and Competitive Pricing: Our pricing is fair, transparent, and competitive. No hidden fees, just honest service.</p> -->
        <div class="data">
        <!--<a href="#" class="hire">Service</a>-->
        </div>
      </div>
    </div>
  </section>
</body>
</html>