<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Heart Disease Prediction</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/heart1.css')}}">
</head>
<body>
    <h1>Heart Disease Prediction</h1>
    <form action="/heart1" method="get">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age"><br><br>
        
        <label for="sex">Sex:</label>
        <select id="sex" name="sex">
            <option value="0">Female</option>
            <option value="1">Male</option>
        </select><br><br>
        
        <label for="cp">Chest Pain Type:</label>
        <input type="text" id="cp" name="cp"><br><br>
        
        <label for="trestbps">Resting Blood Pressure:</label>
        <input type="text" id="trestbps" name="trestbps"><br><br>
        
        <label for="chol">Serum Cholesterol (mg/dl):</label>
        <input type="text" id="chol" name="chol"><br><br>
        
        <label for="fbs">Fasting Blood Sugar &gt; 120 mg/dl:</label>
        <input type="text" id="fbs" name="fbs"><br><br>
        
        <label for="restecg">Resting Electrocardiographic Results:</label>
        <input type="text" id="restecg" name="restecg"><br><br>
        
        <label for="thalach">Maximum Heart Rate Achieved:</label>
        <input type="text" id="thalach" name="thalach"><br><br>
        
        <label for="exang">Exercise Induced Angina:</label>
        <input type="text" id="exang" name="exang"><br><br>
        
        <label for="oldpeak">ST Depression Induced by Exercise:</label>
        <input type="text" id="oldpeak" name="oldpeak"><br><br>
        
        <label for="slope">Slope of the Peak Exercise ST Segment:</label>
        <input type="text" id="slope" name="slope"><br><br>
        
        <label for="ca">Number of Major Vessels (0-3) Colored by Fluoroscopy:</label>
        <input type="text" id="ca" name="ca"><br><br>
        
        <label for="thal">Thalassemia:</label>
        <input type="text" id="thal" name="thal"><br><br>

       <input type="submit" value="Predict">
        <a href="/result1">predict</a>

       <!-- <input type="submit" class="Predictbtn"><strong>predict</strong></button>-->
       <button type="submit">predict</button>
    </form>

    {% if result %}
        <h2>{{ result }}</h2>
    {% endif %}
</body>
</html>

