<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>heart disease</title>
    <link rel="stylesheet" href="{{url_for('static',
    filename='css/2style.css')}}"
</head>
<body>

    <div class="main">
        <div class="navbar">
            <div class="icon">
               <h2 class="logo">HEART DISEASE PREDICTION </h2>
            </div>

           <div class="menu">
             <ul>
                   <li><a href="/about1">ABOUT</a></li>
                   <li><a href="/heart2">PREDICTION</a></li>
             </ul>
           </div>

           <div class="search">
                <input class="srch" type="search" name="" placeholder="search here">
                <a href="">
                    <button class="btn">Search</button></a>
           </div>

        </div>

        <div class="content">
            <br>
            <h1>heart disease prediction  <br>using machine learning  <br>with python</h1>
            <p class="par">
                we can predict heart disease on the basis of checkup report such as ,age, cp,chol, thal,ca,fbs</p>

                  
                  <div class="form">
                    <h2>Login Here</h2>
                    <input type="email" name="email"placeholder="Enter email here">
                    <input type="Password" name="pass"placeholder="Enter password here" id="">
                    <button class="btnn"><a href="#">Login</a></button>

                    <p class="link"> Don't have an Account<br>
                        <a href="/register1">sign up </a>here</p>
    

                    

                    <div class="icons">
                        <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
                        <a href="#"><ion-icon name="logo-google"></ion-icon></a>
                    </div>
                  </div>
            </form>

        </div>
    </div>
</div>
<body>/script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>
</html>
<a href="/register1">Register</a>
</body>
</html>
